
<div class= 'jumbotron'>
	<h2> About This App </h2>
	<p2> This is my first attempt at creating a Pinterest-style application. </p2>
</div>

	<img src="http://i57.tinypic.com/5nmxw1.jpg" alt="responsive image" class="img-responsive">
	
<div class= 'jumbotron center'>
	<h1> Overview </h1>
	<p> This website sample is meant to show how well I have learnt to use Ruby on Rails, HTML and bootstrap to create a dynamic, easily navigatable, presentable, professional Web Application. </p>
</div>




