

<img src="http://i57.tinypic.com/rcpzrl.jpg" alt="img-circle" class="img-responsive"> 


	<h1> About This App </h1>
	<p> This is my first attempt at creating a Pinteresting-style application. </p>


<div class= 'jumbotron'>
	<h1> Overview </h1>
	<p> This website sample is meant to show how well I have learnt to use Ruby on Rails, HTML and bootstrap to create a dynamic, easily navigatable, presentable, professional Web Application </p>
</div>


