

<div class= 'jumbotron center'>
	<h1> St Verena's Coptic Orthodox Church </h1>
	<h2> 583 Orrong Road, Armadale </h2>
	<h3> Melbourne, Australia </h3>
	<p> 
		<%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %>  
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
	</p> 

		<img src="http://i58.tinypic.com/2rrx8hh.jpg" alt="responsive img" class="img-responsive">

</div>






	<% if user_signed_in? %> 
	# Now you're signed in! YAY... now what?... damn
	Dont Worry! I'll figure this part out eventually.
	<% else %>




	
<% end %>

	




