
<div class= 'jumbotron'>
<h1> Welcome to my first app </h1>
<p>For the fun of it, Click here to  <%= link_to "Visit Youtube", "https://www.youtube.com/watch?v=dQw4w9WgXcQ", class: "btn btn-primary btn-lg" %></p> 
</div>



