
<div class= 'jumbotron center'>
<h1> Welcome to my first app! </h1>
<p>For the fun of it... Click here to  <%= link_to "Visit Youtube", "https://www.youtube.com/watch?v=dQw4w9WgXcQ", class: "btn btn-primary btn-lg" %></p> 

<% if user_signed_in? %> 
# Now you're signed in! YAY... now what?... damn
Dont Worry! I'll figure this part out eventually.
<% else %>

	<p> <%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %>  
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
	</p> 
	
<% end %>

	<div class= 'center'>
		<img src="http://25.media.tumblr.com/tumblr_m6ly9ivnTT1qmxw2lo1_250.gif" alt="Responsive image" class="img-responsive"> 

	</div>
	
</div>






