<div class= 'center'>
	<h1> The A Team </h1>
</div>


<div class= 'jumbotron'>
	<p> Peter Louis: The Brains of the App. </p>
</div>

<div class= 'jumbotron'>
	<p> Peter The Louis: The Heart of the App. </p>

</div>

<div class= 'jumbotron'>
	<p> The Peter of Louis: The Feet of the App. </p>
</div>

<div class= 'jumbotron'>
	<p> Louis The Peter of: Huh?... o_O </p>
</div>