
	<h1> The A Team </h1>

<div class= 'jumbotron'>
<p> Peter Louis: The Brains of the App. </p>
</div>
<div class= 'jumbotron'>
<p> Peter The Louis: The Heart of the App. </p>
</div>
<div class= 'jumbotron'>
<p> The Peter of Louis: The Feet of the App. </p>
</div>
<div class= 'jumbotron'>
<p> Peter of Louis: He just sits there. </p>
</div>