<h1> The A Team </h1>

<p> Peter Louis: The Brains of the App. </p>
<p> Peter The Louis: The Heart of the App. </p>
<p> The Peter of Louis: The Feet of the App. </p>
<p> Peter of Louis: He just sits there. </p>