
<div class= 'jumbotron center '>
	<h1> St Verena's Videos <h1>
		<h3> God bless </h3>
</div><br/>

<div class= 'jumbotron center'>
		<h2> Youth Meeting Videos <h2>
</div><br/>

<iframe width="1140" height="480" src="//www.youtube.com/embed/_eVUWJl7NK4" frameborder="0" allowfullscreen class= "img-responsive" alt= "responsive image"></iframe><br/><br/>

<iframe width="1140" height="480" src="//www.youtube.com/embed/KQyMd51wHng" frameborder="0" allowfullscreen class= "img-responsive"></iframe><br/><br/>

<iframe width="1140" height="480" src="//www.youtube.com/embed/z0zubsKUKQk" frameborder="0" allowfullscreen class= "img-responsive"></iframe><br/><br/>


<div class= 'jumbotron center'>
		<h2> Divine Liturgy Videos <h2>
</div><br/>

<iframe width="1140" height="480" src="//www.youtube.com/embed/COrb1c_VDSU" frameborder="0" allowfullscreen class= "img-responsive"></iframe><br/><br/>











